.about img
  width: 100%
  
.about p
  padding: 10px

.about__buttons
  text-align: center
  display: flex
  flex-direction: column

.about__buttons a
  margin-bottom: 32px
  
.forwhom
  background-color: rgb(76, 176, 39)    
  display: flex
  flex-direction: column
  justify-content: space-between
  font-family: 'PT Sans', sans-serif
  font-size: 13px
  color: rgb(255, 255, 255)
  line-height: 1.5
  text-align: left

.forwhom__headline
  padding: 83px 0 40px 0
  
.forwhom__headline h3
  text-align: center  

.forwhom__list
  padding: 35px
  text-align: center

.forwhom__listul
  list-style-image: url("../img/ul.png")

.what
  padding-top: 55px
  
.what h2
  text-align: center
  font-family: Fregat
  font-size: 27px  
  margin-bottom: 19px

.what p
  font-family: 'PT Sans', sans-serif
  font-size: 17px
  color: rgb(49, 49, 49)
  line-height: 1.474
  text-align: center
  width: 64%
  margin: 0 auto

.slider img
  width: 100%
  
.slider 
  margin-top: 28px

.what__list
  padding: 50px 8px 50px 50px
  
.what__listul  
  list-style-image: url("../img/ul2.png")
  font-size: 14px
  color: rgb(78, 78, 78)
  font-family: 'PT Sans', sans-serif
  
.what__listul li
  maargin-bottom: 9px

.what__warning p
  font-family: 'PT Sans', sans-serif  
  font-size: 13px
  color: #a2a2a2
  text-align: center
  line-height: 1.5
  width: 90%
 


.carousel
  width: 90%
  margin: 0 auto

.slider
  display: flex
  flex-direction: row
  align-items: center
 
.carousel__slickimg
  width: 100%

.carousel__prev, .carousel__next
  position: relative
  z-index: 200
  
.carousel__arrowimg
  border: 1px solid rgb(76, 176, 39) 
  padding: 15px 21px 16px 19px
  border-radius: 35px
  cursor: pointer
  
.carousel__prev
  margin-right: -40px
  
.carousel__next
  margin-left: -40px
  
.slick-dots
  display: flex
  position: relative
  z-index: 200
  margin-left: calc(50% - -8px)
  top: -40px




  
@media (min-width: 960px)
  
  .about__img
    display: none  
  
  .about
    background-image: url("../img/workout.png")
    background-size: cover
    min-height: 268px
    padding: 97px 50% 22px 33px
    
  .about__headline h2
    @include color-green
    
  .about p
    width: 81%
    padding: 0
    
  .about__buttons
    display: block
    text-align: left
  
  .forwhom
    flex-direction: row
   
  .forwhom__list 
    text-align: left
    width: 54%
    
  .forwhom__headline
    padding-left: 87px
    padding-bottom: 87px
    
  .forwhom__headline h3
    text-align: left 
  
  .what__list
    display: flex
  
  .ul-col2
    margin-left: 32px