<div class="call">
    <h3>ПОЗВОНИТЬ И ЗАПИСАТЬСЯ</h3>
    <div class="call__warning">
        <p>Пройти программу можно в реабилитационных центрах на базе Института вертебрологии и реабилитации</p>
    </div>
    <div class="call__adresses">
        <div class="call__adresses-city1 call__adresses-col">
            <p>Ивано-Франковск</p>
            <p>ул. Черновола (0342)</p>
            <p>74-45-40</p> 
        </div>
        <div class="call__adresses-city2 call__adresses-col">  
            <p>Киев</p>
            <p>м. Лукьяновка, КПИ, Осокорки, Позняки</p>
            <p>(044) 574-88-86</p>
        </div>
        <div class="call__adresses-city3 call__adresses-col">
            <p>Львов</p>
            <p> ул. Кульпарковская</p>
            <p>(032) 254-03-46</p>
        </div>
    </div>
    <div class="call__button"><a href="#"><span class="btn grey">перезвоните мне</span></a></div>
</div>


