<div class="forwhom">   
    <div class="forwhom__headline"><h3>Программа специально разработана для тех, кто:</h3></div>
    <div class="forwhom__list"> 
        <ul class="forwhom__listul">    
            <li>Ведет малоподвижный образ жизни</li>
            <li>Чувствует дискомфорт в спине</li>
            <li>Проводят основную часть дня, сидя за компьютером или за рулем автомобиля</li>
            <li>Часто носит неудобную обувь</li>
            <li>Страдает бессонницей, головными болями</li>
            <li>Чувствует повышенную утомляемость и нервозность</li>
        </ul>    
    </div>                
</div>


