<header class="header">

    <a href="#" class="header__logo"><img src="img/header__logo.png" alt="header logo"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a class="menu__item" href="#">Что входит в программу</a></li>
        <li><a class="menu__item" href="#">Почему сидеть вредно</a></li>
        <li><a class="menu__item" href="#"> В каких случаях программа будет полезной</a></li>
        <li><a class="menu__item" href="#">Как все происходит</a></li>
        <li><a class="menu__lastitem" href="#">Как работает методика David</a></li>
    </ul>


 </header>



