<div class="about">
    <div class="about__headline"><h2>Здоровье спины при малоподвижном образе жизни</h2></div>
    <img src="img/workout-mob.png" alt="workout mob" class="about__img">
    <p>Занятия в ультрасовременных реабилитационных центрах David при Центре укрепления позвоночника и суставов под наблюдением высококвалифицированной команды реабилитологов.</p>
    <p>Помогает снять дискомфорт и хронические боли в пояснице, грудном и шейном отделах позвоночника.</p>
    <div class="about__buttons buttons">
        <a href="#"><span class="btn">Записаться</span></a>
        <a href="#"><span class="btn">Узнать больше о программе</span></a>
    </div>
</div>

<div class="forwhom">   
    <div class="forwhom__headline"><h3>Программа специально разработана для тех, кто:</h3></div>
    <div class="forwhom__list"> 
        <ul>    
            <li>Ведет малоподвижный образ жизни</li>
            <li>Чувствует дискомфорт в спине</li>
            <li>Проводят основную часть дня, сидя за компьютером или за рулем автомобиля</li>
            <li>Часто носит неудобную обувь</li>
            <li>Страдает бессонницей, головными болями</li>
            <li>Чувствует повышенную утомляемость и нервозность</li>
        </ul>    
    </div>                
</div>


