<div class="what">
    <h2>Что входит в программу</h2>
    <p>Программа «Здоровье спины при малоподвижном образе жизни» – это комплекс занятий по финско-немецкой методике DAVID под наблюдением профессионального реабилитолога и на современных медицицинских тренажерах, оснащенных специальным компьютерным обеспечением.</p>
    <div class="slider">
        <div class="carousel__prev">
            <img class="carousel__prevpng carousel__arrowimg" src="img/prev.png" alt="prev arrow">
        </div>
        <div class="carousel">
            <div><img class="carousel__slickimg" src="img/what_slider1.png" alt="slider pic"></div>
            <div><img class="carousel__slickimg" src="img/what_slider1.png" alt="slider pic"></div>
            <div><img class="carousel__slickimg" src="img/what_slider1.png" alt="slider pic"></div>
        </div>
        <div class="carousel__next">
            <img class="carousel__nextpng carousel__arrowimg" src="img/next.png" alt="next arrow">
        </div>
    </div>

    <div class="what__list">
        <ul class="what__listul ul-col1">
            <li>Первичное компьютерное тестирование для диагностики силы, амплитуды и состояния мышечного корсета и суставов.</li>
            <li>Составление идивиуальной программы занятий, с учетом полученных результатов тестирования.</li>
            <li>Курс занятий по уникальной в Украине финско-немецкой методике на медицинских компьютеризированных тренажерах.</li>
        </ul>
        <ul class="what__listul ul-col2">
            <li>Промежуточное и заключительное диагностическое исследование функций мышц и суставов, для контроля динамики положительного результата.</li>
            <li>Занятия проходят под обязательным контролем реабилитолога.</li>
        </ul>
    </div>
    <div class="what__warning">
        <p>Программу лечения в каждом конкретном случае составляет доктор во время первичной консультации</p>
        <p>При наличии выраженных болей врач рекомендует курс лечения для снятия воспалительного процесса и отека и, после устранения острой боли специалисты разрабатывают индивидуальную программу занятий</p>
        
    </div>
</div>
